#bio {
  background-color: $background-bio;
  color: $text-bio-color;
  padding: 130px 0 200px 0;

  .me {
    border-radius: 50%;
    padding: $base-point-grid * 6;
  }

  .bio-grid {
    width: $column-5;

    p {
      font-size: 1.2rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        background-color: $active-color;
        color: $white;
        padding: $base-point-grid / 2 $base-point-grid;
        border-radius: $base-point-grid / 2;
        pointer-events: none;
        margin-top: $base-point-grid / 2;
        margin-right: $base-point-grid;
      }
    }
  }
}

// Responsive
@include bp(large) {
  #bio {
    padding: 100px 0;

    .title {
      padding: unset;
    }
    
    .bio-grid {
      width: 90vw;

      p {
        font-size: 1rem;
      }

      .me {
        padding: 20px 0;
        width: 200px;
      }
    }
    .row {
      flex-direction: column;
    }
  }
}
