#contact{
  padding: 100px 0 50px 0;

  #contact-form {
    min-width: 500px;
  }

  #status {
    overflow: hidden;
    position: relative;
    transition: height 0.25s;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
  }

  .collapse {
    height: 0;
  }

  .close {
    padding: 8px;
    cursor: pointer;
  }

  .input-form {
    background: #1e242c;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 12pt;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
}
