#home {
  .text {
    font-size: 3.1rem;
    line-height: $base-point-grid * 6;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
  }

  nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: $background-nav;
    border-bottom: 3px solid $secondary-color;
    height: $nav-height;
    text-align: left;
    width: 100%;
    z-index: 2;

    .page-link {
      font-size: initial;
      cursor: pointer;
      text-transform: uppercase;
      margin: $base-point-grid * 2;
      transition: color 0.2s ease-out;

      &:hover {
        color: $active-color;
      }
    }

    .active {
      color: $active-color;
    }

    .toggle-icon {
      display: none;
      position: absolute;
      right: 5vw;
      bottom: 12px;
      cursor: pointer;
    }

    .menu-toggle-flex {
      height: $menu-toggle-height;
    }
  }

  .fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
  }
}

// Responsive
@include bp(medium) {
  #home {
    .flex {
      align-items: flex-start;
    }

    #navbar {
      .toggle-icon {
        display: block;
      }
    }
  }

  .link-wrap {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: $nav-height;
    transition: height 0.3s ease-out;
    width: 100%;
    background-color: $background-color;
    transition: height 0.3s ease-out;
  }
}

@media screen and (min-width: $bp-medium) {
  nav .link-wrap div {
    display: inline;
    font-size: initial;
    padding: initial;
  }
}
