#home {

  .text {
    font-size: 3.1rem;
    line-height: $base-point-grid * 6;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
  }

  nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: $background-nav;
    border-bottom: 3px solid $secondary-color;
    height: $nav-height;
    text-align: left;
    width: 100%;
    z-index: 2;

    .link-wrap {
      background: none;
      height: initial;
      overflow: visible;
      position: initial;
      text-align: left;
      display: flex;
      transition: color 1s;
    }

    .page-link {
      display: inline;
      font-size: initial;
      margin: 0 20px;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        color: $active-color;
      }
    }

    .active {
      color: $active-color;
    }
  }

  .fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
  }
}

// Responsive
@include bp(large) {
  #home {
    .flex {
      align-items: flex-start;
    }
  }
}
