#home {

  .text {
    font-size: 32pt;
    line-height: 36pt;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
  }

  nav {
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1b242f;
    border-bottom: 3px solid $secondary-color;
    height: 50px;
    text-align: left;
    width: 100%;
    z-index: 99;

    .link-wrap {
      background: none;
      height: initial;
      overflow: visible;
      position: initial;
      text-align: left;
      display: flex;
      transition: color 1s;
    }

    .page-link {
      display: inline;
      font-size: initial;
      margin: 0 20px;
      cursor: pointer;

      &:hover {
        color: $active-color;
      }
    }

    .active {
      color: $active-color;
    }
  }

  .fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
  }

}
