// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------
html {
  box-sizing: border-box;
  font-size: $base-font-size;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// Typography
// -----------------------------------------------
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: $white;
  background: $background-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

.overflow-hiden {
  overflow-x: hidden;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }

  &:active {
    color: $white;
  }
}

h2 {
  font-size: 3rem;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1135px;
  padding: 0 $base-point-grid * 2;
  width: 100%;
}

.height-fix {
  height: calc(100vh + 53px);
  position: relative;
}

.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}

.disable-hover {
  pointer-events: none;
}

.row {
  flex-direction: row;
}

.title {
  padding: $base-point-grid * 4 0;
}

.highlight {
  color: $secondary-color;
}

.button {
  margin-bottom: $base-point-grid * 7;
  position: relative;
  border: 2px solid $white;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: $base-point-grid $base-point-grid * 3;
  transition: all 0.5s;
  border-radius: 2px;
  background: transparent;
  color: $white;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;
    text-decoration: none;
  }
}

// Responsive
@include bp(large) {
  h2 {
    font-size: 2.5rem;
  }
}
